version: "3.8"

services:
  backend-js:
    build: .
    container_name: backend-js
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "3001:3001"
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    container_name: backend-mysql
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password

volumes:
  mysql_data:
